<div class="w-full h-full flex flex-col justify-around">
    <header class="flex flex-col h-1/6 justify-center items-center text-center">
        <div class="flex justify-center items-center">
            <div class="flex space-x-4">
                <button class="btn btn-primary text-xl flex items-center space-x-2" (click)="openMapCreation()">
                    <fa-icon [icon]="adminIcons.faPlus"></fa-icon>
                    <span>Créer une nouvelle carte de jeu</span>
                </button>
                <button class="btn btn-primary text-xl flex items-center space-x-2">
                    <fa-icon [icon]="adminIcons.faFileImport"></fa-icon>
                    <span>Importer une carte de jeu</span>
                </button>
            </div>
        </div>
    </header>
    <div class="w-full h-4/6 flex flex-col justify-around items-center border-gray-300 border-2">
        <app-map-table-admin class="w-full h-full"></app-map-table-admin>
    </div>
    <div class="flex justify-start mt-auto p-4">
        <button routerLink="/init" class="btn btn-primary btn-outline">
            <fa-icon [icon]="adminIcons.faBackward" class="text-lg"></fa-icon>Retour
        </button>
    </div>
</div>
<dialog #mapCreationModal class="modal modal-middle">
    <div class="modal-box max-w-sm max-h-screen overflow-y-auto bg-neutral-800 text-white shadow-2xl">
        <app-map-creation-form (cancelEvent)="closeMapCreation()"></app-map-creation-form>
    </div>
</dialog>
<app-message-dialog></app-message-dialog>
