<header class="justify-center items-center text-center">
    <h1 class="text-2xl text-gray-200 mb-2">Administration des cartes de jeu</h1>
    <div class="flex justify-center items-center">
        <div class="button-container space-x-4">
            <button class="btn btn-primary flex items-center space-x-2">
                <fa-icon [icon]="faPlus"></fa-icon>
                <span>Creer une nouvelle carte de jeu</span>
            </button>
            <button class="btn btn-primary flex items-center space-x-2">
                <fa-icon [icon]="faFileImport"></fa-icon>
                <span>Importer une carte de jeu</span>
            </button>
            <button routerLink="/init" class="btn btn-primary flex items-center space-x-2">
                <fa-icon [icon]="faBackward"></fa-icon>
                <span>Retour</span>
            </button>
        </div>
    </div>
</header>

<div id="main-container" class="flex space-x-6 p-6">
    <div id="table-container" class="overflow-x-auto flex-2 bg-gray-800 rounded-lg p-4 shadow-lg">
        <table class="table w-full text-gray-200">
            <thead>
                <tr class="bg-gray-700">
                    <th></th>
                    <th>Nom</th>
                    <th>Taille</th>
                    <th>Mode</th>
                    <th>Date de derniere modification</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let map of maps" class="bg-gray-900">
                    <th>
                        <label>
                            <input type="radio" name="radio-10" class="radio checked:bg-red-500" 
                            (click)="selectMap(map)" />
                        </label>
                    </th>
                    <td>{{map.name}}</td>
                    <td>{{map.sizeRow}}</td>
                    <td>{{map.mode}}</td>
                    <td>{{map.dateOfLastModification}}</td>
                    <td>
                        <div id="map-options-button-container" class="flex space-x-4 justify-center">
                            <button class="btn btn-square btn-outline" (click)="delete(map)">
                                <fa-icon [icon]="faDelete"></fa-icon>
                                Supprimer
                            </button>
                            <button class="btn btn-square btn-outline">
                                <fa-icon [icon]="faExport"></fa-icon>
                                Exporter
                            </button>
                            <button class="btn btn-square btn-outline" [routerLink]="['/edit', map._id]">
                                <fa-icon [icon]="faEdit"></fa-icon>
                                Editer
                            </button>
                        </div>
                    </td>
                    <th>
                        <button class="btn btn-ghost btn-xs text-gray-400" (click)="toggleVisibility(map)">
                            {{ map.isVisible ? 'Hide' : 'Unhide' }}
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="mapPreviewContainer" class="flex-1 text-center"
        (mouseenter)="showDescription = true" 
        (mouseleave)="showDescription = false">
        <img src="../../../assets/Map_Sample.png" alt="MapSample" class="max-w-full h-auto border border-gray-700 rounded-lg">
    </div>

    <div id="mapDescriptionContainer" class="flex-1 text-left p-6">
        <ng-container *ngIf="showDescription && selectedMap; else noMapSelected">
            <h1 class="text-xl text-gray-200">Description de la carte de jeu</h1>
            <p class="text-gray-400">{{ selectedMap?.mapDescription }}</p>
        </ng-container>
        <ng-template #noMapSelected>
            <h1 class="text-xl text-gray-200">Aucune carte sélectionnée</h1>
            <p class="text-gray-400">Veuillez sélectionner une carte pour voir sa description.</p>
        </ng-template>
    </div>
</div>