header {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.5rem; /* Reduce font size */
    margin-bottom: 0.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 15px; /* Add space between buttons */
    margin-top: 10px; /* Optional: Add some space above the buttons */
}

.button-container .btn {
    padding: 10px 20px; /* Adjust button padding if needed */
}


#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

#table-container {
    flex: 2;
}

#mapPreviewContainer {
    flex: 1;
    text-align: center;
}

#mapDescriptionContainer {
    flex: 1;
    text-align: left;
    padding-left: 20px;
    font-size: 1.2rem;
    color: #555;
}

#mapPreviewContainer img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

#mapOptionsDiv {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
}

#mapOptionsDiv button {
    padding: 15px;
    font-size: 1.1rem;
    width: 150px;
    height: 50px;
}