<div class="w-full h-full flex flex-col justify-around">
    <header class="h-1/6 justify-center items-center text-center pt-10">
        <div class="flex justify-center items-center">
            <div class="flex space-x-4">
                <button class="btn btn-primary flex items-center space-x-2" (click)="openMapCreation()">
                    <fa-icon [icon]="adminIcons.faPlus"></fa-icon>
                    <span>Créer une nouvelle carte de jeu</span>
                </button>
                <button class="btn btn-primary flex items-center space-x-2">
                    <fa-icon [icon]="adminIcons.faFileImport"></fa-icon>
                    <span>Importer une carte de jeu</span>
                </button>
            </div>
        </div>
    </header>
    <div class="w-full h-3/5 flex flex-col justify-around items-center">
        <div class="w-full flex justify-around items-center h-full">
            <app-map-table-admin class="w-1/2 h-full"></app-map-table-admin>
            <app-map-description-box class="w-2/5"></app-map-description-box>
        </div>
    </div>
    <button routerLink="/init" class="btn btn-primary m-10 w-1/12 h-20">
        <fa-icon [icon]="adminIcons.faBackward"></fa-icon>
        <span>Retour</span>
    </button>
</div>
<dialog #mapCreationModal class="modal modal-middle">
    <div class="modal-box max-w-sm max-h-screen overflow-y-auto bg-neutral-800 text-white shadow-2xl">
        <app-map-creation-form (cancelEvent)="closeMapCreation()"></app-map-creation-form>
    </div>
</dialog>
