<div class="w-full h-full max-h-full flex flex-col p-2 bg-slate-700 rounded-lg border border-gray-300">
    <div class="w-full flex flex-row justify-around items-center bg-slate-500 rounded-lg border border-gray-300">
        <label for="private-toggle" class="text-lg text-white">Mes messages</label>
        <input id="private-toggle" type="checkbox" class="toggle toggle-success ml-1" [(ngModel)]="onlyMyLogs" (click)="playClickSound()" />
    </div>
    <ul #journalContainer class="w-full flex-grow max-h-full overflow-y-auto scroll-pr-2 p-2">
        @for(log of logs; track log) { @if (shouldDisplayLog(log)) {
        <li class="max-w-full mt-2 self-start break-words text-sm text-white">
            {{ log.message.time | date: 'HH:mm:ss' }}: {{ log.message.content }}
        </li>
        } }
    </ul>
</div>
