<div class="flex flex-col items-center">
    <h2 class="text-white text-center text-xl font-bold mb-4 underline">Liste des joueurs</h2>
    <ul>
        @for (player of playerList; track player.playerInfo.userName) {
        <li class="flex flex-col mb-4">
            <div class="flex items-start">
                @if(isCurrentPlayer(player.playerInfo.userName)) {
                <span class="text-green-500 mr-2">🟢</span>
                }
                <span class="text-lg text-white mr-2" [class.line-through]="player.playerInGame.hasAbandoned">{{ player.playerInfo.userName }}</span>
                <img [src]="getAvatarImage(player.playerInfo.avatar)" alt="{{ player.playerInfo.userName }}'s avatar" class="w-8 h-8 rounded-full" />

                @if (player.playerInfo.role === playerRole.Organizer) {
                <span class="ml-2 text-xl">👑</span>
                } @else if (player.playerInfo.role === playerRole.AggressiveAI) {
                <span class="ml-2 text-xl">⚔️🤖</span>
                }@else if (player.playerInfo.role === playerRole.DefensiveAI) {
                <span class="ml-2 text-xl">🛡️🤖</span>
                } @else if (player.playerInfo.role === playerRole.Human) {
                <span class="ml-2 text-xl">👤</span>}
            </div>

            <div class="text-sm text-white">Combats gagnés : {{ player.playerInGame.winCount }}</div>
        </li>
        }
    </ul>
</div>
