<div class="w-full overflow-x-auto">
    <table class="table w-full">
        <thead>
            <tr>
                <th class="text-left px-4 py-2">Sélectionner</th>
                <th class="text-left px-4 py-2">Nom</th>
                <th class="text-left px-4 py-2">Dernière modification</th>
                <th class="text-left px-4 py-2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let map of mapSelectionService.maps; let i = index"
                [class.active]="map === mapSelectionService.selectedMap">
                <td class="text-left px-4 py-2">
                    <input type="radio" name="mapSelection" [value]="i" (click)="onSelectMap($event)"
                        [checked]="map === mapSelectionService.selectedMap">
                </td>
                <td class="text-left px-4 py-2 truncate">
                    {{ map.name }}
                </td>
                <td class="text-left px-4 py-2">
                    <p class="text-sm text-gray-500">{{ formatDate(map.dateOfLastModification) }}</p>
                </td>
                <td class="text-left px-4 py-2">
                    <div class="flex justify-center space-x-2">
                        <button class="delete-btn btn btn-square btn-outline text-xs h-8 w-8"
                            (click)="delete_confirmation_modal.showModal()">
                            <fa-icon [icon]="faDelete"></fa-icon>
                        </button>
                        <button class="edit-btn btn btn-square btn-outline text-xs h-8 w-8"
                            (click)="mapSelectionService.goToEditMap(map)">
                            <fa-icon [icon]="faEdit"></fa-icon>
                        </button>
                        <button class="hiddentoggle btn btn-ghost btn-xs text-gray-400"
                            (click)="mapSelectionService.toggleVisibility(map)">
                            {{ map.isVisible ? 'Masquer' : 'Afficher' }}
                        </button>
                    </div>
                </td>
                <dialog #delete_confirmation_modal class="modal">
                    <div class="modal-box">
                        <h3 class="text-lg font-bold">Confirmation de suppression d'une carte de jeu</h3>
                        <p class="py-4">Etes vous sur de vouloir supprimer cette carte</p>
                        <div class="modal-action">
                            <form method="dialog">
                                <button class="delete-confirm btn"
                                    (click)="mapSelectionService.delete(map)">Oui</button>
                                <button class="delete-cancel btn">Non</button>
                            </form>
                        </div>
                    </div>
                </dialog>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!mapSelectionService.maps.length && !mapSelectionService.loaded"
        class="skeleton rounded-box w-full grow">
    </div>
</div>