<div class="w-full h-full flex flex-col justify-around items-center">
    <h1 class="prose">Choisir un jeu</h1>
    <div class="w-full flex justify-around items-center h-3/4">
        <app-map-list class="w-1/4 h-3/4"></app-map-list>
        <div class="text-center w-1/4">
            <h2 class="prose">Description</h2>
            <span class="prose">{{ mapListService.getSelectedDescription() }}</span>
        </div>
        <div class="text-center w-1/4">
            <h2 class="prose">Prévisualisation</h2>
            <span class="prose">COMPOSANTE MAP_PREVIEW</span>
        </div>
    </div>
    <button class="btn btn-primary" routerLink="/lobby" [disabled]="!mapListService.isSelectionValid()">Créer la partie</button>
</div>
