<div class="w-full h-full flex flex-col justify-around items-center relative">
    <button routerLink="/init" class="btn btn-primary absolute bottom-0 left-0 m-10 w-1/12 h-20">
        <fa-icon [icon]="formIcon.faBackward"></fa-icon>
        <span>Retour</span>
    </button>

    <div class="w-full flex justify-around items-center h-3/5">
        <app-map-list class="w-1/4 h-full"></app-map-list>
        <app-map-info class="w-1/4 h-full"></app-map-info>
    </div>

    <button class="btn btn-primary w-1/6 h-20" [disabled]="!roomCreationService.isMapSelected()" (click)="confirmMapSelection()">
        Confirmer la carte
    </button>

    <app-message-dialog></app-message-dialog>

    <dialog #playerCreationModal class="modal">
        <div class="flex flex-col justify-between gap-2 max-w-3xl modal-box shadow-2xl bg-slate-400">
            <form method="dialog">
                <button class="btn btn-lg btn-circle btn-ghost absolute right-7 top-9">
                    <fa-icon [icon]="formIcon.faX" size="lg"></fa-icon>
                </button>
            </form>
            <app-player-creation (submissionEvent)="onSubmit()"></app-player-creation>
        </div>
    </dialog>
</div>
