<div class="flex justify-center items-center min-h-screen">
  <div class="p-8 bg-neutral-800 rounded-lg shadow-lg">
    <form>
      <div class="mb-4">
        <label class="block text-white text-lg font-bold mb-2">Map Mode</label>
        <select class="select w-full max-w-xs bg-neutral-700 text-white">
          <option value="GameMode.NORMAL">Classic</option>
          <option value="GameMode.CTF">Capture the Flag</option>
        </select>
        @if (mapSelectionForm.get('mode')?.invalid && mapSelectionForm.get('mode')?.touched){
          <div class="error">
            Mode is required
          </div>
        }
      </div>

      <div class="mb-4">
        <label class="block text-white text-lg font-bold mb-2">Map Size</label>
        <select class="select w-full max-w-xs bg-neutral-700 text-white">
          <option value="MapSize.SMALL">10 x 10</option>
          <option value="MapSize.MEDIUM">15 x 15</option>
          <option value="MapSize.LARGE">20 x 20</option>
        </select>
        @if (mapSelectionForm.get('size')?.invalid && mapSelectionForm.get('size')?.touched){
          <div  class="error">
            Size is required
          </div>
        }
      </div>

      <div class="flex justify-between mt-6">
        <button type="submit" class="btn btn-primary bg-blue-500 hover:bg-blue-700 text-white"
          [disabled]="mapSelectionForm.invalid" 
          (click)="onSubmit()">Create Game</button>
        <button type="button" class="btn btn-outline btn-error" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>