<div class="flex flex-col items-center justify-center">
    <!-- Sablier -->
    <div class="sablier mb-4"></div>
    <!-- Ajout d'une marge pour espacer le sablier du temps -->

    <!-- Temps -->
    <div
        class="flex flex-col items-center justify-center bg-purple-700 text-primary-content border-4 border-black h-16 w-16 rounded-lg transition-all duration-300 transform mb-4"
    >
        <span [ngClass]="textColor" class="text-xl font-bold transition-colors duration-500">
            {{ currentTime }}
        </span>
    </div>
    @if (canPrintNextPlayer()) {
    <span class="text-sm text-white font-bold bg-neutral"> Prochain joueur: {{ getNextPlayer() }} </span>
    }
</div>
