<div class="border-4 border-black p-4">
    <h2 class="text-center text-lg font-bold underline text-white mb-4">Statistiques des joueurs</h2>
    <div class="mb-4 flex gap-4">
        <label for="columnSelect" class="text-white font-medium">Trier par :</label>
        <select id="columnSelect" [(ngModel)]="selectedColumn" class="px-2 py-1 border rounded">
            <option *ngFor="let column of columns" [value]="column.key">{{ column.label }}</option>
        </select>
        <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" (click)="sortPlayers()">
            Trier ({{ sortAscending ? 'Ascendant' : 'Descendant' }})
        </button>
    </div>

    <div class="grid grid-cols-9 gap-4 text-white font-bold text-center mb-4">
        <div class="text-white font-bold text-center">Joueurs</div>

        <div *ngFor="let column of columns" class="text-white font-bold text-center">
            {{ column.label }}
            <div class="flex justify-center mt-2 gap-2">
                <span
                    class="px-2 py-1 rounded"
                    [ngClass]="{
                        'bg-green-500 text-white': selectedColumn === column.key && sortAscending,
                        'bg-gray-500 text-black': !(selectedColumn === column.key && sortAscending)
                    }"
                >
                    ↑
                </span>
                <span
                    class="px-2 py-1 rounded"
                    [ngClass]="{
                        'bg-red-500 text-white': selectedColumn === column.key && !sortAscending,
                        'bg-gray-500 text-black': !(selectedColumn === column.key && !sortAscending)
                    }"
                >
                    ↓
                </span>
            </div>
        </div>

        @for(player of players; track players) {
        <div class="text-white text-center">{{ player.name }}</div>
        <div class="text-white text-center">{{ player.fightCount }}</div>
        <div class="text-white text-center">{{ player.evasionCount }}</div>
        <div class="text-white text-center">{{ player.winCount }}</div>
        <div class="text-white text-center">{{ player.lossCount }}</div>
        <div class="text-white text-center">{{ player.totalHpLost }}</div>
        <div class="text-white text-center">{{ player.totalDamageDealt }}</div>
        <div class="text-white text-center">{{ player.itemCount }}</div>
        <div class="text-white text-center">{{ player.percentageTilesTraversed }}%</div>
        }
    </div>
</div>
