<div class="flex flex-col w-full max-h-full p-8 rounded-lg border-2 shadow-2xl overflow-y-auto bg-base-200">
    <h1 class="text-4xl font-bold mb-6 text-center">Création de personnage</h1>
    <form [formGroup]="playerForm" (submit)="onSubmit()" class="flex flex-col">
        <div class="flex flex-col bg-base-300 border p-4 rounded-lg shadow-inner">
            <div class="flex flex-col justify-start p-6 bg-slate-700 rounded-lg border border-gray-300 mb-6 gap-2">
                <div class="flex flex-col">
                    <label for="name" class="text-3xl">Nom</label>
                    <input id="name" type="text" formControlName="name" class="input input-bordered" required />
                </div>
                <app-avatar-list [avatars]="avatars" [avatarsListcontrol]="getFormControl('avatarId')"></app-avatar-list>
            </div>

            <div class="p-6 bg-slate-700 rounded-lg border border-gray-300 mb-6">
                <div class="p-6 bg-slate-500 rounded-lg border border-gray-300 mb-6">
                    <app-hp-speed-selector [placeHolder]="placeHolder" [hpSpeedControl]="getFormControl('statsBonus')"></app-hp-speed-selector>
                </div>
                <div class="p-6 bg-slate-500 rounded-lg border border-gray-300 mb-6">
                    <app-attack-defense-selector
                        [placeHolder]="placeHolder"
                        [attackDefenseControl]="getFormControl('dice6')"
                    ></app-attack-defense-selector>
                    <!-- <label for="attribut" class="text-3xl">
                        Attaque
                        <div
                            class="tooltip tooltip-right"
                            data-tip="Les points d'attaque indiquent les dégâts pouvant être infligés à vos adversaires"
                        >
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <div class="flex flex-row justify-between">
                        <ul class="flex flex-row items-center gap-2 text-center">
                            @for (_ of placeHolder; track _) {
                            <li>
                                @if ($index < 4) {
                                <fa-icon size="xl" class="text-yellow-500" [icon]="faHandFist"></fa-icon>
                                } @else {
                                <fa-icon size="xl" class="text-slate-600" [icon]="faHandFist"></fa-icon>
                                }
                            </li>
                            }
                        </ul>
                        @if (playerForm.get('dice6')?.value === 'attack') {
                        <fa-icon [icon]="faDiceSix" size="2x" class="text-white"></fa-icon>
                        } @else if (playerForm.get('dice6')?.value === 'defense') {
                        <fa-icon [icon]="faDiceFour" size="2x" class="text-white"></fa-icon>
                        } @else {
                        <fa-icon [icon]="faSquare" size="2x" class="text-slate-500"></fa-icon>
                        }
                    </div>
                    <label for="attribut" class="text-3xl">
                        Défense
                        <div
                            class="tooltip tooltip-right"
                            data-tip="Les points de défense informe sur la capacité à encaisser les coups de vos adversaires"
                        >
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <div class="flex flex-row justify-between">
                        <ul class="flex flex-row items-center gap-2 text-center">
                            @for (_ of placeHolder; track _) {
                            <li>
                                @if ($index < 4) {
                                <fa-icon size="xl" class="text-blue-700" [icon]="faShieldHalved"></fa-icon>
                                } @else {
                                <fa-icon size="xl" class="text-slate-600" [icon]="faShieldHalved"></fa-icon>
                                }
                            </li>
                            }
                        </ul>
                        @if (playerForm.get('dice6')?.value === 'defense') {
                        <fa-icon [icon]="faDiceSix" size="2x" class="text-white"></fa-icon>
                        } @else if (playerForm.get('dice6')?.value === 'attack') {
                        <fa-icon [icon]="faDiceFour" size="2x" class="text-white"></fa-icon>
                        } @else {
                        <fa-icon [icon]="faSquare" size="2x" class="text-slate-500"></fa-icon>
                        }
                    </div>
                    <label for="attribut" class="text-3xl">
                        Dé à 6 faces
                        <div
                            class="tooltip tooltip-right"
                            data-tip="Attribue un dé à 6 faces à Attaque ou Défense selon votre choix et applique un dé de 4 faces à l'attribut non choisi"
                        >
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <div id="d6" class="form-control">
                        <label class="label cursor-pointer">
                            <div class="w-2/5 flex flex-row justify-between">
                                <span class="label-text text-2xl">Attaque</span>
                                <input
                                    type="radio"
                                    class="radio checked:bg-yellow-500 indeterminate:bg-white"
                                    formControlName="dice6"
                                    value="attack"
                                />
                            </div>
                            <div class="w-2/5 flex flex-row justify-between">
                                <span class="label-text text-2xl">Défense</span>
                                <input
                                    type="radio"
                                    class="radio checked:bg-blue-600 indeterminate:bg-white"
                                    formControlName="dice6"
                                    value="defense"
                                />
                            </div>
                        </label>
                    </div> -->
                    <!-- fin component -->
                </div>
            </div>
            <button type="submit" [disabled]="!playerForm.valid" class="btn btn-primary text-xl">Créer</button>
        </div>
    </form>
</div>
