<div class="flex flex-col w-full max-h-full p-8 rounded-lg border-2 shadow-2xl overflow-y-auto bg-base-200">
    <h1 class="text-4xl font-bold mb-6 text-center">Création de personnage</h1>
    <form [formGroup]="playerForm" (submit)="onSubmit()" class="flex flex-col">
        <div class="flex flex-col bg-base-300 border p-4 rounded-lg shadow-inner">
            <div class="flex flex-col justify-start p-6 bg-slate-700 rounded-lg border border-gray-300 mb-6 gap-2">
                <!-- <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button> -->
                <div class="flex flex-col">
                    <label for="name" class="text-3xl">Nom</label>
                    <input id="name" type="text" formControlName="name" class="input input-bordered" required />
                </div>

                <!-- Component avatar-list -->
                <app-avatar-list
                    [avatars]="avatars"
                    [control]="getAvatarControl()"
                ></app-avatar-list>
                <!--   <div class="flex flex-col">
                    <label for="name" class="text-3xl">Avatar</label>
                    <div class="flex justify-center">
                        <div class="dropdown dropdown-hover">
                            <div tabindex="0" role="button" class="avatar">
                                <div class="w-32 rounded-md">
                                    <img [src]="avatars[playerForm.get('avatarId')?.value || 0]" alt="Selected Avatar" />
                                </div>
                            </div>
                            <ul
                                tabindex="0"
                                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-80 p-4 shadow grid grid-cols-3 gap-10 translate-x-[-50%] left-[50%]"
                            >
                                @for (avatar of avatars; track avatar) {
                                <li>
                                    <div class="avatar w-20" (click)="setAvatar($index)">
                                        <img [src]="avatar" alt="Avatar" />
                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="p-6 bg-slate-700 rounded-lg border border-gray-300 mb-6">
                <!-- <app-hp-speed-selector></app-hp-speed-selector> -->
                <div class="p-6 bg-slate-500 rounded-lg border border-gray-300 mb-6">
                    <label for="hp" class="text-3xl">
                        Vie
                        <div class="tooltip tooltip-right" data-tip="Les points de vie sont utiles pour survivre durant un combat">
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <ul class="flex flex-row items-center gap-2 text-center">
                        @for (_ of placeHolder; track _) {
                        <li>
                            @if ($index < 4 || playerForm.get('statsBonus')?.value === 'hp') {
                            <fa-icon size="xl" class="text-red-700" [icon]="faHeart"></fa-icon>
                            } @else {
                            <fa-icon size="xl" class="text-slate-600" [icon]="faHeart"></fa-icon>
                            }
                        </li>
                        }
                    </ul>

                    <label for="attribut" class="text-3xl">
                        Rapidité
                        <div class="tooltip tooltip-right" data-tip="La rapidité impacte la vitesse des coups portés lors d'un combat">
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <ul class="flex flex-row items-center gap-2 text-center">
                        @for (_ of placeHolder; track _) {
                        <li>
                            @if ($index < 4 || playerForm.get('statsBonus')?.value === 'speed') {
                            <fa-icon size="xl" class="text-green-700" [icon]="faPlay"></fa-icon>
                            } @else {
                            <fa-icon size="xl" class="text-slate-600" [icon]="faPlay"></fa-icon>
                            }
                        </li>
                        }
                    </ul>
                    <label for="attribut" class="text-3xl">
                        Bonus
                        <div class="tooltip tooltip-right" data-tip="Attribue un bonus de +2 à Vie ou Rapidité">
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <div id="bonus" class="form-control">
                        <label class="label cursor-pointer flex flex-row justify-between">
                            <div class="w-2/5 flex flex-row justify-between">
                                <span class="label-text" class="text-2xl">Vie </span>
                                <input type="radio" class="radio checked:bg-red-600 indeterminate:bg-white" formControlName="statsBonus" value="hp" />
                            </div>
                            <div class="w-2/5 flex flex-row justify-between">
                                <span class="label-text" class="text-2xl">Rapidité </span>
                                <input
                                    type="radio"
                                    class="radio checked:bg-green-600 indeterminate:bg-white"
                                    formControlName="statsBonus"
                                    value="speed"
                                />
                            </div>
                        </label>
                    </div>
                </div>
                <!-- fin component -->

                <div class="p-6 bg-slate-500 rounded-lg border border-gray-300 mb-6">
                    <!-- <app-attack-defense-selector></app-attack-defense-selector> -->
                    <label for="attribut" class="text-3xl">
                        Attaque
                        <div
                            class="tooltip tooltip-right"
                            data-tip="Les points d'attaque indiquent les dégâts pouvant être infligés à vos adversaires"
                        >
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <div class="flex flex-row justify-between">
                        <ul class="flex flex-row items-center gap-2 text-center">
                            @for (_ of placeHolder; track _) {
                            <li>
                                @if ($index < 4) {
                                <fa-icon size="xl" class="text-yellow-500" [icon]="faHandFist"></fa-icon>
                                } @else {
                                <fa-icon size="xl" class="text-slate-600" [icon]="faHandFist"></fa-icon>
                                }
                            </li>
                            }
                        </ul>
                        @if (playerForm.get('dice6')?.value === 'attack') {
                        <fa-icon [icon]="faDiceSix" size="2x" class="text-white"></fa-icon>
                        } @else if (playerForm.get('dice6')?.value === 'defense') {
                        <fa-icon [icon]="faDiceFour" size="2x" class="text-white"></fa-icon>
                        } @else {
                        <fa-icon [icon]="faSquare" size="2x" class="text-slate-500"></fa-icon>
                        }
                    </div>
                    <label for="attribut" class="text-3xl">
                        Défense
                        <div
                            class="tooltip tooltip-right"
                            data-tip="Les points de défense informe sur la capacité à encaisser les coups de vos adversaires"
                        >
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <div class="flex flex-row justify-between">
                        <ul class="flex flex-row items-center gap-2 text-center">
                            @for (_ of placeHolder; track _) {
                            <li>
                                @if ($index < 4) {
                                <fa-icon size="xl" class="text-blue-700" [icon]="faShieldHalved"></fa-icon>
                                } @else {
                                <fa-icon size="xl" class="text-slate-600" [icon]="faShieldHalved"></fa-icon>
                                }
                            </li>
                            }
                        </ul>
                        @if (playerForm.get('dice6')?.value === 'defense') {
                        <fa-icon [icon]="faDiceSix" size="2x" class="text-white"></fa-icon>
                        } @else if (playerForm.get('dice6')?.value === 'attack') {
                        <fa-icon [icon]="faDiceFour" size="2x" class="text-white"></fa-icon>
                        } @else {
                        <fa-icon [icon]="faSquare" size="2x" class="text-slate-500"></fa-icon>
                        }
                    </div>
                    <label for="attribut" class="text-3xl">
                        Dé à 6 faces
                        <div
                            class="tooltip tooltip-right"
                            data-tip="Attribue un dé à 6 faces à Attaque ou Défense selon votre choix et applique un dé de 4 faces à l'attribut non choisi"
                        >
                            <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
                        </div>
                    </label>
                    <div id="d6" class="form-control">
                        <label class="label cursor-pointer">
                            <div class="w-2/5 flex flex-row justify-between">
                                <span class="label-text text-2xl">Attaque</span>
                                <input
                                    type="radio"
                                    class="radio checked:bg-yellow-500 indeterminate:bg-white"
                                    formControlName="dice6"
                                    value="attack"
                                />
                            </div>
                            <div class="w-2/5 flex flex-row justify-between">
                                <span class="label-text text-2xl">Défense</span>
                                <input
                                    type="radio"
                                    class="radio checked:bg-blue-600 indeterminate:bg-white"
                                    formControlName="dice6"
                                    value="defense"
                                />
                            </div>
                        </label>
                    </div>
                    <!-- fin component -->
                </div>
            </div>
            <button type="submit" [disabled]="!playerForm.valid" class="btn btn-primary text-xl">Créer</button>
        </div>
    </form>
</div>
