<div class="card bg-base-300 shadow-xl w-full">
    @if ( (mapSelectionService.selectedMap)) {
    <div id="mapPreview">
            <img src="../../../assets/Map_Sample.png" alt="Italian Trulli"
            (mouseenter)="isHovered = true" 
            (mouseleave)="isHovered = false">
    </div>    
    <div id="map-info" class="card-body" [class.hidden]="!isHovered">
        <h2 class="card-title">Nom: {{ mapSelectionService.selectedMap.name }}</h2>
        <p>Description: {{ mapSelectionService.selectedMap.description }}</p>
    </div>
    } @else {
    <div class="card-body">
        <h2 class="card-title">Choisir une carte pour connaître ses informations!</h2>
    </div>
    }
</div>