.layer {
    position: absolute;
    top: 0;
    width: 200vw;
    height: 100vw;
    background-repeat: repeat-x;
    background-size: contain;
    overflow: hidden;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.midground {
    animation: scroll 200s linear infinite;
    z-index: 1;
}

.foreground-1 {
    animation: scroll 60s linear infinite;
    z-index: 3;
}

.foreground-2 {
    animation: scroll 30s linear infinite;
    z-index: 3;
}

.content {
    position: relative;
    z-index: 4;
}
