<div class="map-container max-h-[97vh] max-w-[49.9vw]">
    @for(row of mapArray; track rowIndex; let rowIndex = $index;){
    <div class="row">
        @for(tile of row; track colIndex; let colIndex = $index){
        <div
            class="tile"
            [style.backgroundImage]="'url(' + tilePaths[tile] + ')'"
            (mousedown)="onMouseDownEmptyTile($event, { y: rowIndex, x: colIndex })"
            (mouseup)="onMouseUp()"
            (mouseover)="onMouseOver($event, { y: rowIndex, x: colIndex })"
            (dragover)="onDragOver($event)"
            draggable="false"
            (drop)="onDrop($event, { y: rowIndex, x: colIndex })"
            (contextmenu)="preventRightClick($event)"
            [ngStyle]="{ 'width.px': tileSize, 'height.px': tileSize, 'background-size': 'cover' }"
        >
            @if(getItemType({x: colIndex, y: rowIndex}) !== null){
            <div
                class="tooltip tooltip-bottom"
                [ngStyle]="{ 'width.px': tileSize, 'height.px': tileSize }"
                [attr.data-tip]="getItemDescription(getItemType({ x: colIndex, y: rowIndex }))"
            >
                <div
                    class="item"
                    [style.backgroundImage]="'url(' + getItemPath(getItemType({ x: colIndex, y: rowIndex })) + ')'"
                    (mousedown)="onMouseDownItem($event, { y: rowIndex, x: colIndex })"
                    draggable="true"
                    (dragstart)="onDragStart($event, { y: rowIndex, x: colIndex })"
                    (mouseup)="onMouseUp()"
                    (contextmenu)="preventRightClick($event)"
                    (click)="fullClickOnItem({ y: rowIndex, x: colIndex })"
                    [ngStyle]="{ 'width.px': tileSize, 'height.px': tileSize, 'background-size': 'cover', cursor: 'pointer' }"
                ></div>
            </div>
            }
        </div>
        }
    </div>
    }
</div>
