<!-- <link rel="stylesheet" href="./main-page.component.scss"> -->

<div class="container justified">
    <h1 class="header-item">Game of Stones</h1>
    <div>
        <div class="button-container">
            <button class="button">Joindre</button>
            <button class="button">Créer</button>
            <button class="button">Administrer</button>
        </div>
    </div>

    <!-- <img src="logo-projet-2.png" alt="Logo Projet" class="game-logo" /> -->

    <footer class="footer-item">
        <span class="team-number">201</span>
        <span class="team-names">
            <span>Alexandre Nguyen</span>, <span>Charles-Émile Cossette</span>, <span>Thierry Champion</span>, <span>Benjamin Perrier</span>,
            <span>Nikolai Olekhnovitch</span>,
            <span>Nabil Ibarissen</span>
        </span>
    </footer>
</div>

<!-- <div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3QofL1J" alt="Logo Projet" />
    <section id="server-message" class="justified">
        <p>Petit message du serveur : {{ message.getValue() }}</p>
        <div class="justified">
            <button class="button" (click)="getMessagesFromServer()">Récupérer un message du serveur</button>
            <button class="button" (click)="sendTimeToServer()">Envoyer un message au serveur</button>
            <button class="button" routerLink="/material">Voir la page démo Angular Material</button>
        </div>
    </section>

    <button class="button" routerLink="/game">Jouer!</button>
    <button class="btn btn-primary">
        <fa-icon [icon]="faCoffee"></fa-icon>
    </button>

    <footer class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>Coéquipier #1</span>, <span>Coéquipier #2</span>, <span>Coéquipier #3</span>, <span>Coéquipier #4</span>,
            <span>Coéquipier #5</span>, <span>Coéquipier #6</span>
        </p>
    </footer>
</div> -->
