<ul class="menu menu-lg bg-base-200 rounded-box w-full h-full" (click)="onSelectMap($event)">
    <li class="menu-title">Liste des maps</li>
    @for (map of mapListService.mapList; track map) {
    <li class="w-full flex items-center">
        <span id="{{ 'map' + $index }}" class="prose block w-full text-center truncate" [class.active]="map === mapListService.selectedMap">
            {{ map.name }}
        </span>
    </li>
    @if (!$last) {
    <div class="divider m-2"></div>
    } } @empty { @if (loading) {
    <div class="skeleton rounded-box w-full grow"></div>
    }}
</ul>
