<ul class="menu menu-lg bg-base-200 rounded-box w-full h-full overflow-y-auto flex-nowrap" (click)="onSelectMap($event)">
    <li class="menu-title">Liste des cartes</li>
    @for (map of visibleMaps; track map._id) {
    <li class="w-full flex items-center">
        <span id="{{ 'map' + $index }}" class="prose block w-full text-center truncate" [class.active]="isMapSelected(map)">
            {{ map.name }}
        </span>
    </li>
    @if (!$last) {
    <div class="divider m-2"></div>
    }} @empty { @if (!isLoaded) {
    <div class="skeleton rounded-box w-full grow"></div>
    }}
</ul>
