<dialog #dialog id="error-dialog" (close)="onClose()" class="modal p-6 shadow-2xl">
    <div class="modal-box p-6 shadow-2xl max-w-5xl">
        <h3 class="dialog-title text-2xl font-bold mb-4 block">{{ message?.title }}</h3>
        <p class="dialog-content py-2 block text-lg" [style.whiteSpace]="'pre-line'">{{ message?.content }}</p>
        
        @if (message?.inputRequired) {
            <div>
                <input
                    [(ngModel)]="userInput"
                    type="text"
                    class="modal-input p-2 border rounded-md w-full mb-4"
                    [placeholder]="message?.inputPlaceholder"
                    autofocus
                    (keydown)="onKeyDown($event)"
                />
            </div>
        }
        
        <div class="flex justify-end gap-2">
            @if (!message?.inputRequired) {
                <form method="dialog">
                    <button class="close-button btn btn-primary">Fermer</button>
                </form>
            } @else {
                <form method="dialog">
                    <button class="close-button btn btn-primary">Fermer</button>
                </form>
                <button 
                    class="btn btn-primary"
                    (click)="onSubmit()"
                    [disabled]="!isInputValid()"
                >
                    Submit
                </button>
            }
        </div>
    </div>
</dialog>