<section>
    <div>
        <button id="joinRoomBtn" class="btn" (click)="joinRoom()">Rejoindre une salle</button>
    </div>
    @if (!inLobby) {
    <div class="join">
        <button (click)="toggleDisplay()" class="join-item btn" [class.btn-active]="displayChat">Clavardage</button>
        <button (click)="toggleDisplay()" class="join-item btn" [class.btn-active]="!displayChat">Journal</button>
    </div>
}
    @if (displayChat) { <app-chat-message-display [roomMessages]="roomMessages"></app-chat-message-display> }
    @if (!displayChat && !inLobby) { <app-journal-entry-display [journalEntries]="journalEntries"></app-journal-entry-display> }
    <app-chat-input-box (sendMessage)="sendToRoom($event)"></app-chat-input-box>
</section>