<div class="w-full h-full max-h-full flex flex-col p-2 bg-slate-700 rounded-lg border border-gray-300">
    <div class="text-center w-full">
        <p class="text-3xl font-bold">{{ userName }}</p>
        <p class="text-3xl bg-slate-500 rounded-lg border border-gray-300 text-white">{{ userName }}</p>
    </div>
    <div #chatContainer class="w-full flex-grow overflow-y-auto scroll-pr-2 p-2">
        @for(entry of messages; track entry.message.time) {
        <div
            class="chat max-w-full mt-2 self-start break-words"
            [ngClass]="entry.author === userName ? 'chat-end' : 'chat-start'"
        >
            <div
                class="chat-bubble text-sm font-normal py-1.5 text-white"
                [ngClass]="entry.author === userName ? 'bg-green-600' : 'bg-blue-600'"
            >
                {{ entry.author }} ({{ entry.message.time | date: 'HH:mm:ss' }}) : {{ entry.message.content }}
            </div>
        </div>
        }
    </div>
    <div class="w-full flex justify-around items-start">
        <input
            id="roomMessage"
            class="text-white input input-bordered w-5/6"
            [(ngModel)]="message"
            (keydown.enter)="message.trim().length > 0 ? sendMessage() : null"
            [placeholder]="chatPlaceholder"
            type="text"
            [maxlength]="maxMessageLength"
        />
        <button class="h-full w-1/6 btn btn-outline btn-info ml-1" (click)="sendMessage()" [disabled]="message.trim().length === 0">
            <fa-icon [icon]="paperPlaneIcon" size="lg"></fa-icon>
        </button>
    </div>
</div>
