<span class="absolute flex flex-col space-y-4 top-1/2 left-auto ml-96 transform -translate-y-1/2">
    <button class="btn bg-blue-500 w-16 h-16 flex items-center justify-center relative group">
        <fa-icon [icon]="handPointerIcon" class="text-xl"></fa-icon>
        <span class="absolute text-white text-sm mt-20 opacity-0 group-hover:opacity-100 transition-opacity"> Action </span>
    </button>

    <button class="btn bg-yellow-400 w-16 h-16 flex items-center justify-center relative group">
        <fa-icon [icon]="handIcon" class="text-xl"></fa-icon>
        <span class="absolute text-white text-sm mt-24 opacity-0 group-hover:opacity-100 transition-opacity"> Fin de tour </span>
    </button>

    <button class="btn bg-red-500 w-16 h-16 flex items-center justify-center relative group">
        <fa-icon [icon]="flagIcon" class="text-xl"></fa-icon>
        <span class="absolute text-white text-sm mt-20 opacity-0 group-hover:opacity-100 transition-opacity"> Abandon </span>
    </button>

    <button class="btn bg-purple-700 w-16 h-16 flex items-center justify-center relative group">
        <fa-icon [icon]="personBurstIcon" class="text-xl"></fa-icon>
        <span class="absolute text-white text-sm mt-20 opacity-0 group-hover:opacity-100 transition-opacity"> Attaque </span>
    </button>

    <button class="btn bg-amber-800 w-16 h-16 flex items-center justify-center relative group">
        <fa-icon [icon]="personRunningIcon" class="text-xl"></fa-icon>
        <span class="absolute text-white text-sm mt-20 opacity-0 group-hover:opacity-100 transition-opacity"> Évasion </span>
    </button>
</span>
