<span class="absolute flex flex-col top-1/2 left-auto ml-[23%] transform -translate-y-1/2">
    <button class="btn bg-blue-500 w-16 h-16 flex items-center justify-center relative group mb-4">
        <fa-icon [icon]="buttonIcon.faHandPointer" class="text-xl"></fa-icon>
        <span class="absolute left-full ml-2 text-white text-sm opacity-0 group-hover:opacity-100 transition-opacity">Agir</span>
    </button>

    <button class="btn bg-purple-700 w-16 h-16 flex items-center justify-center relative group mb-4" [disabled]="!isInCombat">
        <fa-icon [icon]="buttonIcon.faPersonBurst" class="text-xl"></fa-icon>
        <span class="absolute left-full ml-2 text-white text-sm opacity-0 group-hover:opacity-100 transition-opacity">Attaquer</span>
    </button>

    <button
        class="btn bg-amber-800 w-16 h-16 flex items-center justify-center relative group mb-32"
        [disabled]="!isInCombat || fightField.numberEscapesRemaining === 0"
    >
        <fa-icon [icon]="buttonIcon.faPersonRunning" class="text-xl"></fa-icon>
        <span class="absolute left-full ml-2 text-white text-sm opacity-0 group-hover:opacity-100 transition-opacity">Esquiver</span>
    </button>

    <button class="btn bg-yellow-400 w-16 h-16 flex items-center justify-center relative group mb-9">
        <fa-icon [icon]="buttonIcon.faHand" class="text-xl"></fa-icon>
        <span class="absolute left-full ml-2 text-white text-sm opacity-0 group-hover:opacity-100 transition-opacity">Finir mon tour</span>
    </button>

    <button class="btn bg-red-500 w-16 h-16 flex items-center justify-center relative group" (click)="abandonGame()">
        <fa-icon [icon]="buttonIcon.faFlag" class="text-xl"></fa-icon>
        <span class="absolute left-full ml-2 text-white text-sm opacity-0 group-hover:opacity-100 transition-opacity">Abandonner</span>
    </button>
</span>
