<section>
    <div>
        <div class="join">
            <button (click)="toggleDisplay()" class="join-item btn" [class.btn-active]="displayMode === displayModeAccessor.Chat">Clavardage</button>
            <button (click)="toggleDisplay()" class="join-item btn" [class.btn-active]="displayMode === displayModeAccessor.Journal">Journal</button>
        </div>

        @if (displayMode === displayModeAccessor.Chat) {
        <app-chat></app-chat>
        } @else {
        <app-journal></app-journal>
        }
    </div>
</section>
