<div class="w-full h-full flex flex-col">
    <div class="join w-full">
        <button (click)="toggleDisplay(displayModeAccessor.CHAT)" class="join-item w-1/2 btn" [class.btn-active]="displayMode === displayModeAccessor.CHAT">
            <fa-icon [icon]="faComments" size="lg"></fa-icon>
        </button>
        <button
            (click)="toggleDisplay(displayModeAccessor.JOURNAL)"
            class="join-item w-1/2 btn"
            [class.btn-active]="displayMode === displayModeAccessor.JOURNAL"
        >
            <fa-icon [icon]="faBook" size="lg"></fa-icon>
        </button>
    </div>

    <div class="flex-grow w-full overflow-y-auto">
        @if (displayMode === displayModeAccessor.CHAT) {
        <app-chat class="w-full max-h-full"></app-chat>
        } @else {
        <app-journal class="w-full max-h-full"></app-journal>
        }
    </div>
</div>
