.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tooltip.tooltip-bottom::before {
    background-color: white;
    color: black;
    max-width: 250px;
    font-weight: normal;
}

.tooltip.tooltip-bottom::after {
    border-color: transparent transparent white transparent;
}

.row {
    display: flex;
}

.tile {
    border: 1px solid black;
}

.tile.grass {
    background-image: url('../../../assets/tiles/grass.png');
}

.tile.ice {
    background-image: url('../../../assets/tiles/ice.png');
}

.tile.water {
    background-image: url('../../../assets/tiles/water.png');
}

.tile.closedDoor {
    background-image: url('../../../assets/tiles/door_closed.png');
}

.tile.openDoor {
    background-image: url('../../../assets/tiles/door_open.png');
}

.tile.wall {
    background-image: url('../../../assets/tiles/wall.png');
}

.item {
    z-index: 10;
}

.item.potionBlue {
    background-image: url('../../../assets/items/potionBlue.png');
}

.item.potionGreen {
    background-image: url('../../../assets/items/potionGreen.png');
}

.item.potionRed {
    background-image: url('../../../assets/items/potionRed.png');
}

.item.sword {
    background-image: url('../../../assets/items/sword.png');
}

.item.armor {
    background-image: url('../../../assets/items/upg_armor.png');
}

.item.axe {
    background-image: url('../../../assets/items/upg_axe.png');
}

.item.randomItem {
    background-image: url('../../../assets/items/randomItem.png');
}

.item.startPoint {
    background-image: url('../../../assets/items/startPoint.png');
}

.item.flag {
    background-image: url('../../../assets/items/flag.png');
}
