<!-- Items provided by: http://dycha.net @ https://opengameart.org/content/fantasy-icon-pack-by-ravenmore-0 -->
<!-- Tiles provided by Cam https://twitter.com/CamTatz @ https://opengameart.org/content/top-down-asset-pack-1-ctatzw -->

<div class="sidebar grid grid-rows-4 place-content-center">
    <fieldset class="grid grid-cols-4 gap-10 place-content-center w-[90%] mx-auto border-2">
        <legend style="color: rgb(255, 255, 255); font-weight: semi-bold" class="text-xl ml-4">Applicateur de tuiles</legend>
        @for (tile of tiles; track tile; let tileID = $index){
        <div class="button-container">
            <button
                class="tile-button tooltip tooltip-bottom"
                [attr.data-tip]="tileDescriptions[tile.type]"
                [ngClass]="{ selected: isTileTypeSelected(stringToTerrainMap[tile.type]) }"
                [class]="tile.type"
                (click)="selectTile(stringToTerrainMap[tile.type])"
            ></button>
            <span>{{ tile.label }}</span>
        </div>
        }
    </fieldset>

    <fieldset class="grid grid-cols-3 gap-4 place-content-center w-[90%] mx-auto border-2">
        <legend style="color: rgb(255, 255, 255); font-weight: semi-bold" class="text-xl ml-4">Sélecteur d'objet</legend>
        @for (item of items; track item; let itemID = $index){ @if (itemID !== 6 && itemID !== 7 && (itemID !== 8 || mapManagerService.currentMap.mode
        === gameMode.CTF)){
        <div class="button-container">
            <div class="tooltip tooltip-bottom" [attr.data-tip]="itemDescriptions[itemToStringMap[item.type]]">
                <button
                    class="item-button"
                    [ngClass]="{ 'grayed-out': mapManagerService.isItemLimitReached(item.type) }"
                    [class]="itemToStringMap[item.type]"
                    [attr.draggable]="!mapManagerService.isItemLimitReached(item.type)"
                    (dragstart)="onDragStart($event, item.type)"
                ></button>
            </div>
            <span>{{ item.label }}</span>
        </div>
        } @if (itemID === 6 || itemID === 7){
        <div class="button-container">
            <div class="tooltip tooltip-bottom" [attr.data-tip]="itemDescriptions[itemToStringMap[item.type]]">
                <button
                    class="item-button"
                    [ngClass]="{ 'grayed-out': mapManagerService.isItemLimitReached(item.type) }"
                    [class]="itemToStringMap[item.type]"
                    [attr.draggable]="!mapManagerService.isItemLimitReached(item.type)"
                    (dragstart)="onDragStart($event, item.type)"
                >
                    <div class="remaining-items-text">
                        {{ mapManagerService.getRemainingRandomAndStart(item.type) }}
                    </div>
                </button>
            </div>

            <span>{{ item.label }}</span>
        </div>
        } }
    </fieldset>
    <div class="flex flex-row justify-evenly items-center">
        <div class="flex flex-col">
            <label for="gameName" class="description-text">Nom du jeu</label>
            <textarea
                id="gameName"
                type="text"
                placeholder="Entrez le nom ici..."
                [(ngModel)]="mapManagerService.currentMap.name"
                class="input-bordered input"
                maxlength="30"
                style="background-color: white; color: black; border: 1px solid gray; resize: none; min-width: 15vw; min-height: 10vh"
            ></textarea>
        </div>
        <div class="flex flex-col">
            <label for="gameDescription" class="description-text">Description du jeu</label>
            <textarea
                id="gameDescription"
                type="text"
                placeholder="Entrez la description ici..."
                [(ngModel)]="mapManagerService.currentMap.description"
                class="input-bordered input"
                maxlength="100"
                style="background-color: white; color: black; border: 1px solid gray; resize: none; min-width: 15vw; min-height: 10vh"
            ></textarea>
        </div>
    </div>
    <div class="flex flex-row justify-evenly items-center">
        <button routerLink="/admin" class="btn btn-primary btn-lg">Retour</button>
        <button class="btn btn-accent btn-lg" (click)="onSaveClicked()">Enregistrer la carte</button>
        <button class="btn btn-secondary btn-lg" (click)="onResetClicked()">Réinitialiser la carte</button>
    </div>
</div>
