.sidebar {
    display: flex;
    flex-direction: column;
    gap: 9vh;
    height: 100vh;
}

.tooltip.tooltip-bottom::before {
    margin-top: 30px;
    background-color: white;
    color: black;
    max-width: 250px;
    font-weight: normal;
}

.tooltip.tooltip-bottom::after {
    margin-top: 30px;
    border-color: transparent transparent white transparent;
}

.description-text {
    color: white;
    font-size: 18px;
    font-weight: semi-bold;
}

.button-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: flex-end;
}

.input {
    color: white;
}
.tile-button {
    cursor: pointer;
    margin-top: 5px;
    background-size: cover;
    width: 6vh;
    height: 6vh;
    font-weight: bold;
}

.tile-button.selected {
    outline: 2px solid pink;
    box-shadow: 0 0 8px pink;
}

.tile-button.tile-0 {
    background-image: url('src/assets/tiles/grass.png');
}

.tile-button.tile-1 {
    background-image: url('src/assets/tiles/wall.png');
}

.tile-button.tile-2 {
    background-image: url('src/assets/tiles/ice.png');
}

.tile-button.tile-3 {
    background-image: url('src/assets/tiles/water.png');
}

.tile-button.tile-5 {
    background-image: url('src/assets/tiles/closed_door.png');
}



.remaining-items-text {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.item-button {
    position: relative;
    cursor: pointer;
    background-size: cover;
    width: 6vh;
    height: 6vh;
    font-weight: bold;
}

.item-button.grayed-out {
    filter: grayscale(100%) brightness(50%);
    cursor: not-allowed;
}

.item-button.potionBlue {
    background-image: url('src/assets/items/potionBlue.png');
}

.item-button.potionGreen {
    background-image: url('src/assets/items/potionGreen.png');
}

.item-button.potionRed {
    background-image: url('src/assets/items/potionRed.png');
}

.item-button.sword {
    background-image: url('src/assets/items/sword.png');
}

.item-button.armor {
    background-image: url('src/assets/items/upg_armor.png');
}

.item-button.axe {
    background-image: url('src/assets/items/upg_axe.png');
}

.item-button.randomItem {
    background-image: url('src/assets/items/randomItem.png');
}

.item-button.startPoint {
    background-image: url('src/assets/items/startPoint.png');
}

.item-button.flag {
    background-image: url('src/assets/items/flag.png');
}
