<label for="attack" class="text-3xl">
    Attaque
    <div class="tooltip tooltip-right" data-tip="Les points d'attaque indiquent les dégâts pouvant être infligés à vos adversaires">
        <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
    </div>
</label>
<div class="flex flex-row justify-between">
    <ul class="flex flex-row items-center gap-2 text-center">
        @for (_ of placeHolder; track _) {
        <li>
            @if ($index < 4) {
            <fa-icon size="xl" class="text-yellow-500" [icon]="faHandFist"></fa-icon>
            } @else {
            <fa-icon size="xl" class="text-slate-600" [icon]="faHandFist"></fa-icon>
            }
        </li>
        }
    </ul>
    @if (attackDefenseControl.value === 'attack') {
    <fa-icon [icon]="faDiceSix" size="2x" class="text-white"></fa-icon>
    } @else if (attackDefenseControl.value === 'defense') {
    <fa-icon [icon]="faDiceFour" size="2x" class="text-white"></fa-icon>
    } @else {
    <fa-icon [icon]="faSquare" size="2x" class="text-slate-500"></fa-icon>
    }
</div>
<label for="defense" class="text-3xl">
    Défense
    <div class="tooltip tooltip-right" data-tip="Les points de défense informe sur la capacité à encaisser les coups de vos adversaires">
        <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
    </div>
</label>
<div class="flex flex-row justify-between">
    <ul class="flex flex-row items-center gap-2 text-center">
        @for (_ of placeHolder; track _) {
        <li>
            @if ($index < 4) {
            <fa-icon size="xl" class="text-blue-700" [icon]="faShieldHalved"></fa-icon>
            } @else {
            <fa-icon size="xl" class="text-slate-600" [icon]="faShieldHalved"></fa-icon>
            }
        </li>
        }
    </ul>
    @if (attackDefenseControl.value === 'defense') {
    <fa-icon [icon]="faDiceSix" size="2x" class="text-white"></fa-icon>
    } @else if (attackDefenseControl.value === 'attack') {
    <fa-icon [icon]="faDiceFour" size="2x" class="text-white"></fa-icon>
    } @else {
    <fa-icon [icon]="faSquare" size="2x" class="text-slate-500"></fa-icon>
    }
</div>
<label for="d6" class="text-3xl">
    Dé à 6 faces
    <div
        class="tooltip tooltip-right"
        data-tip="Attribue un dé à 6 faces à Attaque ou Défense selon votre choix et applique un dé de 4 faces à l'attribut non choisi"
    >
        <fa-icon [icon]="faCircleInfo" size="xs"></fa-icon>
    </div>
</label>
<div id="d6" class="form-control">
    <label class="label cursor-pointer flex flex-row justify-between">
        <div class="w-2/5 flex flex-row justify-between">
            <span class="label-text text-2xl">Attaque</span>
            <input
                type="radio"
                class="radio checked:bg-yellow-500 bg-white"
                [formControl]="attackDefenseControl"
                name="attackDefense"
                value="attack"
            />
        </div>
        <div class="w-2/5 flex flex-row justify-between">
            <span class="label-text text-2xl">Défense</span>
            <input
                type="radio"
                class="radio checked:bg-blue-600 bg-white"
                [formControl]="attackDefenseControl"
                name="attackDefense"
                value="defense"
            />
        </div>
    </label>
</div>
