<div class="flex flex-col">
    <p class="text-3xl">Avatar</p>
    <div class="flex justify-center">
        <div class="dropdown dropdown-hover">
            <div tabindex="0" role="button" class="avatar">
                <div class="w-32 rounded-md">
                    <img [src]="avatars[selectedAvatar]" alt="Selected Avatar" />
                </div>
            </div>
            <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-[1] w-80 p-4 shadow grid grid-cols-3 gap-10 translate-x-[-50%] left-[50%]"
            >
                @for (avatar of avatars; track avatar) {
                <li>
                    <div class="avatar w-20" (click)="!checkAvatar($index) && selectAvatar($index)" >
                        <img [src]="avatar" alt="Avatar" 
                                 [ngClass]="{'ring-4 ring-indigo-300 ring-opacity-50': selectedAvatar === $index,
                                    'grayscale opacity-50': avatarList.get(avatar) && selectedAvatar !== $index}"/>
                    </div>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
