<ul class="flex flex-col items-center">
    <h2 class="text-2xl font-bold mb-4 underline">Liste des joueurs</h2>
    <section>
        @for (player of playerListService.playerList; track player.playerInfo.id) {
        <li class="flex items-center mb-2">
            <img [src]="player.playerInfo.avatar" alt="{{ player.playerInfo.userName }}'s avatar" class="w-14 h-14 rounded-full mr-2" />
            <span class="text-lg">{{ player.playerInfo.userName }}</span>

            @if (player.playerInfo.role === 'organizer') {
            <span class="ml-2 text-xl">👑</span>
            } @else if (player.playerInfo.role === 'aggressive AI' || player.playerInfo.role === 'defensive AI') {
            <span class="ml-2 text-xl">🤖</span>
            } @if (player.playerInfo.role !== 'organizer' && myPlayerService.isOrganizer()) {
            <button (click)="playerListService.removePlayer(player.playerInfo.userName)" class="ml-4 text-red-600 text-xl">❌</button>
            }
        </li>
        }
    </section>
</ul>
