<div class="flex h-screen w-full bg-neutral">
    <div class="flex flex-col w-64 h-full">
        <div class="h-1/2 border-4 border-black flex justify-center">
            <app-player-info></app-player-info>
        </div>

        <div [ngClass]="isInFight ? 'h-2/6' : 'h-3/6'" class="border-4 border-black flex justify-center">
            <app-game-player-list></app-game-player-list>
        </div>
        @if(isInFight) {
        <div class="h-1/6 bg-red-950 border-t-4 border-b-4 border-r-4 border-black flex justify-center">
            <app-fight-info></app-fight-info>
        </div>
        }
    </div>

    <div class="flex flex-col flex-grow justify-center items-center">
        <app-game-info></app-game-info>
        <div class="flex items-center justify-center w-full mt-8">
            <div class="flex-shrink-0 mr-4 w-28">
                <app-inventory></app-inventory>
            </div>

            <div class="flex justify-center items-center max-w-[720px] max-h-[720px] w-[80vw] h-[80vw] bg-white border-4 border-black mx-4 mt-5">
                <app-map (clickEvent)="handleMapClick($event)" (rightClickEvent)="handleMapClick($event)" (moveEvent)="handleMapHover($event)">
                </app-map>
            </div>

            <div class="flex-shrink-0 ml-4 w-28">
                <app-game-buttons (abandon)="openAbandonModal()"> </app-game-buttons>
            </div>
        </div>
    </div>
    <div>
        <app-game-timer></app-game-timer>
    </div>

    <div class="w-2/6 flex justify-center items-center text-center">
        <app-game-chat class="w-full h-1/2"></app-game-chat>
    </div>
</div>
<app-message-dialog (closeEvent)="quitGame()"></app-message-dialog>
<dialog #abandonModal class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Vous partez déjà !?</h3>
        <p class="py-4">Êtes-vous certain de vouloir abandonner la partie ?</p>
        <div class="modal-action">
            <form method="dialog">
                <button class="btn mr-3" (click)="confirmAbandon()">Oui</button>
                <button class="btn" (click)="closeAbandonModal()">Non</button>
            </form>
        </div>
    </div>
</dialog>

@if (playerInfo) {
<dialog #playerInfoModal class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Informations sur le joueur</h3>
        <img [src]="avatarImagePath" alt="Avatar du Joueur" class="w-24 h-24 rounded-full mx-auto my-4" />
        <div class="py-4">
            <p><strong>Nom d'utilisateur:</strong> {{ playerInfo.userName }}</p>
        </div>
        <div class="modal-action">
            <button class="btn" (click)="closePlayerInfoModal()">Fermer</button>
        </div>
    </div>
</dialog>
} @if (tileInfo) {
<dialog #tileInfoModal class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Informations sur la tuile</h3>
        <div class="py-4">
            <p><strong>Terrain :</strong> {{ getTileTerrainType() }}</p>
            <p><strong>Coût de mouvement :</strong> {{ getMovementCost() }}</p>
        </div>
        <div class="modal-action">
            <button class="btn" (click)="closeTileInfoModal()">Fermer</button>
        </div>
    </div>
</dialog>
} @if (itemDropChoiceActive){
<app-item-drop-decision (itemDropSelected)="onItemDropSelected()"></app-item-drop-decision>
}
