<div class="navbar fixed top-0 left-0 right-0 mx-auto w-1/2 bg-slate-100 rounded-lg">
    <div class="flex-1">
        <span class="text-xl text-black">Taille de la carte</span>
    </div>
    <div class="flex-1 text-center">
        <span class="text-xl text-black">Nombre de joueurs</span>
    </div>
    <div class="flex-none flex items-center gap-4">
        <div class="form-control">
            <span class="text-xl text-black">Nom du joueur</span>
        </div>
        <div tabindex="0" class="avatar indicator">
            <span class="indicator-item badge badge-neutral">
                <fa-icon [icon]="robotIcon" class="text-xl"></fa-icon>
            </span>
            <div class="w-10 h-10 rounded-full border-4 border-gray-500">
                <img alt="Avatar" class="rounded-full" src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
            </div>
        </div>
    </div>
</div>
