<div class="flex flex-col items-start gap-2 p-4">
    <h2 class="text-center text-xl font-bold underline mb-2">Informations du joueur</h2>
    <div class="text-black text-lg">Nom : {{ myName }}</div>
    <img [src]="myAvatarSrc" alt="{{ myName }}'s avatar" class="w-12 h-12 rounded-full mr-2" />
    <div class="text-black text-lg">Pv : {{ myHp }}</div>
    <div class="text-black text-lg">Attaque : {{ myAttack }}</div>
    <div class="text-black text-lg">Défense : {{ myDefense }}</div>
    <div class="text-black text-lg">Vitesse : {{ mySpeed }}</div>
    <div class="text-black text-lg">Points de Mouvement : {{ mySpeed }}</div>
    <div class="text-black text-lg">Dé: {{ myDies }}</div>
    <div class="text-black text-lg">Nombres d'actions restantes : {{ myActions }}</div>
</div>
