<div class="flex flex-col gap-2 p-4">
    <div class="flex justify-center items-center gap-2">
        <img [src]="myAvatarSrc" alt="{{ myName }}'s avatar" class="w-11 h-11 rounded-full" />
        <span class="text-white text-xl">{{ myName }}</span>
    </div>

    <div class="text-white text-lg">{{ myHp }}</div>
    <div class="text-white text-lg">{{ myMovement }}</div>
    <div class="text-white text-lg">{{ myActions }}</div>
    <div class="text-white text-lg">{{ myAttack }} {{ myDefense }} {{ mySpeed }}</div>
    <div class="text-white text-lg">{{ myDies }}</div>
</div>
