<fieldset class="w-[100px] h-[370px] border-2 border-white p-4 bg-stone-500">
    <legend class="text-white text-xl text-center">Inventaire</legend>

    <div class="flex flex-col space-y-7">
        @for(item of myInventory; track item; let i = $index) {
        <img
            [src]="getItemImagePaths([item])[0]"
            alt="Item"
            class="w-full h-full object-cover"
            [class]="{
                'pulse-animation': isCurrentlySelectedItem(item) && isMyTurn,
                'orb-glow': isSpecialItem(item) && isMyTurn,
                'cursor-pointer': isSpecialItem(item) && isMyTurn
            }"
            (click)="itemClicked(item)"
        />
        }
    </div>
</fieldset>
