<header>
    <h1 class="text-center">Édition de Cartes</h1>
</header>

<section>
    <div class="grid h-screen grid-cols-2">
        <app-sidebar (tileTypeSelected)="onTileTypeSelected($event)"></app-sidebar>
        <app-map [size]="mapSize" [selectedTileType]="selectedTileType"></app-map>
    </div>
    <div class="w-full h-full flex flex-col justify-center items-center">
        <div class="flex items-end">
            <button routerLink="/admin" class="btn btn-primary">Retour</button>
        </div>
    </div>
</section>
