<div class="bg-neutral">
    <section>
        <div class="grid h-screen grid-cols-2">
            <app-sidebar
                (tileTypeSelected)="onTileTypeSelected($event)"
                [placedItems]="placedItems"
                [selectedTileType]="selectedTileType"
            ></app-sidebar>
            <app-map
                [size]="mapSize"
                [selectedTileType]="selectedTileType"
                (selectedTileTypeChange)="onSelectedTileTypeChange($event)"
                (itemPlaced)="onItemPlaced($event)"
                (itemRemoved)="onItemRemoved($event)"
            ></app-map>
        </div>
    </section>
</div>