<div class="map-container">
    @for(row of mapGrid; track row; let rowIndex = $index;){
    <div class="row">
        @for(tile of row; track colIndex; let colIndex = $index;){
        <div
            class="tile"
            [ngClass]="tile.tileType"
            (mousedown)="onMouseDown($event, rowIndex, colIndex)"
            (mouseup)="onMouseUp($event, rowIndex, colIndex)"
            (mouseover)="onMouseOver($event, rowIndex, colIndex)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event, rowIndex, colIndex)"
            (contextmenu)="preventRightClick($event)"
            [ngStyle]="{ 'width.px': tileSize, 'height.px': tileSize, 'background-size': 'cover' }"
        >
            @if(tile.item){
            <div
                class="item"
                [ngClass]="tile.item"
                (mousedown)="onMouseDownItem($event, rowIndex, colIndex)"
                draggable="true"
                (dragstart)="onDragStart($event, rowIndex, colIndex)"
                (mouseup)="onMouseUp($event, rowIndex, colIndex)"
                (contextmenu)="preventRightClick($event)"
                [ngStyle]="{ 'width.px': tileSize, 'height.px': tileSize, 'background-size': 'cover' }"
            ></div>
            }
        </div>
        }
    </div>
    }
</div>
