<!-- Items provided by: http://dycha.net @ https://opengameart.org/content/fantasy-icon-pack-by-ravenmore-0 -->
<!-- Tiles provided by Cam https://twitter.com/CamTatz @ https://opengameart.org/content/top-down-asset-pack-1-ctatzw -->

<div class="sidebar grid grid-rows-4 place-content-center">
    <div class="grid grid-cols-4 gap-10 place-content-center">
        @for (tile of tiles; track tile; let tileID = $index){
        <div class="tile-button-container">
            <button
                class="tile-button"
                [ngClass]="{ selected: isTileTypeSelected(tile.type) }"
                [class]="tile.type"
                (click)="selectTile(tile.type)"
            ></button>
            <span>{{ tile.label }}</span>
        </div>
        }
    </div>

    <div class="grid grid-cols-3 gap-4 place-content-center">
        @for (item of items; track item; let itemID = $index){
        <div class="item-button-container">
            <button
                class="item-button"
                [ngClass]="{ 'grayed-out': isItemPlaced(item.type) }"
                [class]="item.type"
                draggable="true"
                (dragstart)="onDragStart($event, item.type)"
            ></button>
            <span>{{ item.label }}</span>
        </div>
        }
    </div>
    <div class="flex flex-row justify-evenly items-center">
        <input type="text" placeholder="Nom du jeu" class="input-bordered input" />
        <input type="text" placeholder="Description du jeu" class="input-bordered input" />
    </div>
    <div class="flex flex-row justify-evenly items-center">
        <button routerLink="/admin" class="btn btn-primary btn-lg">Retour</button>
        <button class="btn btn-accent btn-lg">Enregistrer la carte</button>
        <button class="btn btn-secondary btn-lg">Réinitialiser la carte</button>
    </div>
</div>
