.sidebar {
    display: flex;
    flex-direction: column;
    gap: 12vh;
    height: 100vh;
}

.tile-button-container {
    display: flex;
    flex-direction: column;
    color: white; /* Text color */
    font-size: 18px;
    align-items: center;
    justify-content: flex-end;
}

.tile-button {
    cursor: pointer;
    margin-top: 5px;
    background-size: cover;
    width: 60px;
    height: 60px;
    font-weight: bold;
}

.tile-button.selected {
    border: 3px solid pink;
    box-shadow: 0 0 5px pink;
}

.tile-button.grass {
    background-image: url('../../../assets/tiles/grass.png');
}

.tile-button.ice {
    background-image: url('../../../assets/tiles/ice.png');
}

.tile-button.water {
    background-image: url('../../../assets/tiles/water.png');
}

.tile-button.closed_door {
    background-image: url('../../../assets/tiles/door_closed.png');
}

.tile-button.wall {
    background-image: url('../../../assets/tiles/wall.png');
}

.item-button-container {
    display: flex;
    flex-direction: column;
    color: white; /* Text color */
    font-size: 18px;
    align-items: center;
    justify-content: flex-end;
}

.remaining-items-text {
    position: absolute; /* Make it position absolutely within the parent */
    top: 0px; /* Adjust this value as needed */
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.item-button {
    position: relative;
    cursor: pointer;
    background-size: cover;
    width: 60px;
    height: 60px;
    font-weight: bold;
}

.item-button.grayed-out {
    filter: grayscale(100%) brightness(50%);
    cursor: not-allowed;
}

.item-button.potionBlue {
    background-image: url('../../../assets/items/potionBlue.png');
}

.item-button.potionGreen {
    background-image: url('../../../assets/items/potionGreen.png');
}

.item-button.potionRed {
    background-image: url('../../../assets/items/potionRed.png');
}

.item-button.sword {
    background-image: url('../../../assets/items/sword.png');
}

.item-button.armor {
    background-image: url('../../../assets/items/upg_armor.png');
}

.item-button.axe {
    background-image: url('../../../assets/items/upg_axe.png');
}

.item-button.randomItem {
    background-image: url('../../../assets/items/randomItem.png');
}

.item-button.startPoint {
    background-image: url('../../../assets/items/startPoint.png');
}

.item-button.flag {
    background-image: url('../../../assets/items/flag.png');
}
